/******* カスタムコンポーネント *********/

/**** フォーム ****/
/* 必須項目ラベルに「＊」印をつける */
label.required:after {
  content:" *";
  color: red;
}

.form-input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

/**** リンク ****/
.link{
  @apply underline hover:text-sky-600
}

/**** ボタン ****/
.btn{
  @apply font-semibold py-2 px-4 rounded;
}

.btn-sky{
  @apply text-white bg-sky-600 hover:bg-sky-800 cursor-pointer;
}

.btn-outline-gray{
  color: #5F6161;
  @apply border-2 hover:bg-gray-100 px-3
}

/**** うんこ出たボタン *****/
.btn--u,
a.btn--u,
button.btn--u {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--u--circle {
  width: 140px;
  height: 140px;
  padding: 20px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #eb6877;
  -webkit-box-shadow: 0 7px 0 #e53b4e;
  box-shadow: 0 7px 0 #e53b4e;
}

a.btn--u--circle i {
  font-size: 150%;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

a.btn--u--circle:hover {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #e53b4e;
  box-shadow: 0 3px 0 #e53b4e;
}
