/******* カスタムコンポーネント *********/

/**** フォーム ****/
/* 必須項目ラベルに「＊」印をつける */
label.required:after {
  content:" *";
  color: red;
}

.form-box{
  @apply mb-3 md:w-2/3 md:mx-auto
}

.field{
  @apply my-3
}

.form-input{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

/**** リンク ****/
.link{
  @apply underline hover:text-sky-600
}

/**** ボタン ****/
.btn{
  @apply font-semibold py-2 px-4 rounded;
}

.btn-sky{
  @apply text-white bg-sky-600 hover:bg-sky-800 cursor-pointer;
}

.btn-outline-gray{
  color: #5F6161;
  @apply border-2 hover:bg-gray-100
}
